<h2><%= l(:label_achievement_admin) %></h2>

<p class="subtitle"><%= l(:text_achievement_admin_info) %></p>

<%= form_tag(bulk_update_admin_achievements_path, method: :patch) do %>
  <table class="list">
    <thead>
      <tr>
        <th scope="col"><%= l(:field_enabled) %></th>
        <th scope="col"><%= l(:label_achievement_name) %></th>
        <th scope="col"><%= l(:label_achievement_category) %></th>
        <th scope="col"><%= l(:label_achievement_tier) %></th>
        <th scope="col"><%= l(:label_achievement_tags) %></th>
        <th scope="col"><%= l(:label_achievement_points) %></th>
        <th scope="col"><%= l(:label_achievement_custom_title) %></th>
        <th scope="col"><%= l(:label_achievement_custom_description) %></th>
        <th scope="col"><%= l(:label_achievement_custom_quote) %></th>
      </tr>
    </thead>
    <tbody>
      <% @achievement_classes.each do |klass| %>
        <% setting = @settings[klass.name] || AchievementSetting.new(enabled: true) %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td class="center">
            <%= hidden_field_tag "settings[#{klass.name}][enabled]", '0' %>
            <label class="sr-only" for="settings_<%= klass.parameter_name %>_enabled"><%= l(:field_enabled) %> - <%= l(klass.locale_prefix(:title)) %></label>
            <%= check_box_tag "settings[#{klass.name}][enabled]", '1', setting.enabled?, id: "settings_#{klass.parameter_name}_enabled" %>
          </td>
          <td>
            <%= l(klass.locale_prefix(:title)) %>
            <br /><span class="description"><%= klass.parameter_name %></span>
          </td>
          <td><%= l(:"achievement.category.#{klass.category}") %></td>
          <td><span class="achievement_tier tier_<%= klass.tier %>"><%= l(:"achievement.tier.#{klass.tier}") %></span></td>
          <td>
            <% klass.tags.each do |tag| %>
              <span class="achievement_tag tag_<%= tag %>"><%= l(:"achievement.tag.#{tag}") %></span>
            <% end %>
          </td>
          <td>
            <%= number_field_tag "settings[#{klass.name}][custom_points]",
                                 setting.respond_to?(:custom_points) ? setting.custom_points : nil,
                                 placeholder: klass.points, min: 0, style: 'width: 60px' %>
          </td>
          <td>
            <%= text_field_tag "settings[#{klass.name}][custom_title]",
                               setting.custom_title,
                               placeholder: l(klass.locale_prefix(:title)), size: 25 %>
          </td>
          <td>
            <%= text_field_tag "settings[#{klass.name}][custom_description]",
                               setting.custom_description,
                               placeholder: l(klass.locale_prefix(:description)), size: 35 %>
          </td>
          <td>
            <%= text_field_tag "settings[#{klass.name}][custom_quote]",
                               setting.custom_quote,
                               placeholder: l(klass.locale_prefix(:quote)), size: 30 %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= submit_tag l(:button_save) %></p>
<% end %>
