<div class="achievement_entry <%= unlocked ? 'unlocked' : 'unlockable' %>">
  <% if unlocked %>
    <span class="date"><%= format_time(achievement.created_at) %></span>
  <% end %>
  <div class="achievement_icon_wrap">
    <%= achievement_icon(achievement, size: 48) %>
  </div>
  <div class="achievement_info">
    <h3><%= achievement_text(achievement, :title) %><%= image_tag('true.png') if unlocked %></h3>
    <h4><%= achievement_text(achievement, :description) %></h4>
    <p>&quot;<%= achievement_text(achievement, :quote) %>&quot;</p>
  </div>
</div>
