<div class="achievement_entry <%= unlocked ? 'unlocked' : 'unlockable' %>">
  <% if unlocked %>
    <span class="date"><%= format_time(achievement.created_at) %></span>
  <% end %>
  <h3><%= l(achievement.locale_prefix(:title)) %><%= image_tag('true.png') if unlocked %></h3>
  <h4><%= l(achievement.locale_prefix(:description)) %></h4>
  <p>&quot;<%= l(achievement.locale_prefix(:quote)) %>&quot;</p>
</div>
